.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(149, 130, 100, 0.9);
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.nav-links li:hover,
.nav-links li.active {
  background-color: #caccca;

}

.logout-btn {
  background-color: rgb(129, 125, 107);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #ffe0b2;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b5e20;
  padding: 10px;
}

.search-bar input {
  width: 250px;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: rgba(193, 191, 189, 0.9);
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #388e3c;
}
